.display{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3TkzWy-D-sG07TJliUSWqE4sFfUowMZ9Y5g&usqp=CAU);
    background-size:cover;
    border: 2px solid rgb(163, 134, 134);
    height: 625px;
    width: 1366px;
    /* display: flex; */
    background-repeat: repeat;
    position: absolute;
    overflow-x: scroll;
    


    /* https://cdn.pixabay.com/photo/2018/03/04/09/48/space-3197606__340.jpg */
  }
   /* .card{
    background-color:rgb(7, 135, 185)
  }  */