.link{
    text-decoration: underline;
    /* padding-left: 150px; */
    font-weight: 600;
    margin-left: 300px;
}
.loginn{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPdom7Qy8DCRRoRt-ao94zNSDLDdxZ1xI19Q&usqp=CAU);
    background-size:cover;
    border: 2px solid rgb(163, 134, 134);
    height: 625px;
    width: 1366px;
    /* display: flex; */
  }